#fileuploader {
    position: relative;
    padding-bottom: 2rem;
    .ajax-upload-dragdrop { 
        border: 2px dotted #A5A5C7;
        width: 420px;
        height: 200px;
        color: #DADCE3;
        text-align: left;
        vertical-align: middle;
        padding: 10px 10px 0px 10px;
        position: relative;
        .ajax-file-upload {
            font: normal 16px $font-century-gothic; 
            cursor: pointer !important;	
            line-height: 20px;
            margin: 0 10px 10px 0;
            display: inline-block;
            background: $white;
            border: 1px solid #e8e8e8;
            color: #888; 
            text-decoration: none; 
            padding: 10px 30px; 
            color: $white;
            background: #2f8ab9;
            border: none;
            vertical-align: middle;  
            @include transition(all 0.3s ease-in); 
            position: absolute !important;
            left: 0;
            right: 0;
            top: 35%;
            margin-left: auto;
            margin-right: auto; 
            width: 110px;
            text-align: center;
            &:hover {
                background: #3396c9;
            }
        }
        span {
            position: absolute;
            left: 0;
            right: 0;
            top: 57%;
            margin-left: auto;
            margin-right: auto;
            width: 155px;
            text-align: center;
        }
    }
    .state-hover {
        border:2px solid #A5A5C7;
    }
    .ajax-file-upload-container {
        margin:20px 0px 20px 0px;
    }
}
.ajax-file-upload-statusbar {
    border: 1px solid #0ba1b5;
    margin-top: 10px;
    width: 420px;
    margin-right: 10px;
    margin: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 5px 5px 15px
}
.ajax-file-upload-filename {
    font: normal 12px $font-century-gothic; 
    width: 300px;
    height: auto;
    margin: 0 5px 5px 0px;
}
.ajax-file-upload-filesize {
    width: 50px;
    height: auto;
    margin: 0 5px 5px 0px;
    display: inline-block;
    vertical-align:middle;
}
.ajax-file-upload-progress {
    margin: 5px 10px 5px 0px;
    position: relative;
    width: 250px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
    display: inline-block; 
    color: $white;
    vertical-align:middle;
}
.ajax-file-upload-bar {
    background-color: #0ba1b5;
    width: 0;
    height: 20px;
    border-radius: 3px;
    color: $white;
}
.ajax-file-upload-percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%
}
.ajax-file-upload-red {
    -moz-box-shadow: inset 0 39px 0 -24px #e67a73;
    -webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
    box-shadow: inset 0 39px 0 -24px #e67a73;
    background-color: #e4685d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    color: $white;
    font: normal 12px $font-century-gothic;
    padding: 4px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #b23e35;
    cursor: pointer;
    vertical-align: middle;
    margin-right:5px;
} 
.ajax-file-upload-green {
    background-color: #77b55a;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: $white;
    font: normal 12px $font-century-gothic;
    padding: 4px 15px;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 1px 0 #5b8a3c;
    vertical-align: middle;
    margin-right: 5px; 
}