.footer {
    background: $gray5;
    width: 100%;
    .footer-wrapper {
        padding: 30px 7rem 60px; 
        .footer-content {
            h3 {
                color: $white;
                font: normal 2.4rem $font-century-gothic-bold;
                letter-spacing: 1px;
            }
            ul {
                list-style: none;
                margin: 20px 0 0;
                padding: 0;
                li {
                    a { 
                        color: $white;
                        font: normal 1.3rem $font-merriweather-regular;
                    }
                }
            }
        }
    }
} 