.space-header {
    width: 100%;
    position: relative;
    &.menu-is-active,
    &.search-is-active {
        .space-container {
            background: #555;
            .header-title {
                a {
                    color: $white;
                }
            }
            .header-option {
                .header-nav {
                    .header-search-item {
                        .search-icon {
                            border: 2px solid $white;
                            &:after {
                                background: $white; 
                            }
                        }
                    }
                    .header-hamburger-item {
                        .c-hamburger {
                            span {
                                &:before, &:after {
                                    background-color: $white;
                                } 
                            }
                        }
                    }
                }
            }
        }
    }
    &.search-is-active {
        .space-container {
            .header-option {
                .header-nav {
                    .header-hamburger-item { 
                        .c-hamburger {
                            span {
                                // background: $white;
                            }
                        }
                    }
                }
            }
        }
    }
    .space-container {
        background: $white;
        float: left;
        position: fixed;
        z-index: 23;
        width: 100%;
        .header-title {
            float: left;
            padding: 25px 34px;
            a {
                color: $black;
                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                }
                label {
                    cursor: pointer;
                    display: block;
                    font: normal 2em $font-century-gothic-bold;
                }
            }
        }
        .header-option {
            float: right;
            padding: 32px 65px;
            .header-locale-nav {

            } 
            .header-nav {
                width: 70px;
                .header-search-item {
                    width: 35px; 
                    float: left;
                    margin-top: 5px;
                    .search-icon {
                        border: 2px solid $black;
                        cursor: pointer;
                        position: relative;
                        display: inline-block;
                        border-radius: 30px;
                        height: 14px; 
                        width: 14px;
                        -webkit-transition: background 0s 0.3s;
                                transition: background 0s 0.3s;
                        &:before,
                        &:after {
                            -webkit-transition-duration: 0.3s, 0.3s;
                                    transition-duration: 0.3s, 0.3s;
                            -webkit-transition-delay: 0.3s, 0s;
                                    transition-delay: 0.3s, 0s;
                        }
                        &:before {
                            -webkit-transition-property: all, -webkit-transform;
                                    transition-property: all, transform;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            height: 0;
                            width: 0;
                        }
                        &:after {
                            content: "";
                            height: 3px;
                            width: 8px;
                            background: $black; 
                            position: absolute;
                            top: 11px;
                            left: 7px;
                            @include transform(rotate(45deg));
                            -webkit-transition-property: all, -webkit-transform;
                                    transition-property: all, transform; 
                        }
                        &.search-is-active { 
                            background: none;
                            border: 0;
                            &:before {
                                height: 3px;
                                width: 18px;
                                top: 6px;
                                left: 1px;
                                position: absolute;
                                background: $white;
                                -webkit-transform: rotate(-45deg); 
                                    -ms-transform: rotate(-45deg);
                                        transform: rotate(-45deg); 
                            }
                            &:after {
                                height: 3px;
                                width: 18px;
                                top: 7px;
                                left: 1px;
                                -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                        transform: rotate(45deg);
                            }
                            &:before,
                            &:after {
                            -webkit-transition-delay: 0s, 0.3s;
                                    transition-delay: 0s, 0.3s;
                            }
                        }
                    }
                }
                .header-hamburger-item {
                    width: 35px;
                    float: right;
                }
            }
        }
    }
}

