@mixin rotate {
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

@mixin mediamin($min) {
    @media screen and (min-width: #{$min}) { @content; }
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin slideHover($first-color, $second-color) {
    -webkit-background-clip: text;
    -moz-background-clip:    text;
    -o-background-clip:      text;
    background-clip:         text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    background-image: linear-gradient(
            to right,
            $second-color,
            $second-color 50%,
            $first-color 50%);
            background-size: 200% 100%;
            background-position: 100%;
}

@mixin slideHoverPseudo {
    @include transition(all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1));
    background-position: 0%;
}

@mixin homeHoverSlide($color, $transition) {
    background-image: linear-gradient(180deg, transparent 65%, $color 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    @include transition($transition);
}

@mixin homeHoverSlidePseudo {
    background-size: 100% 100%;
    cursor: pointer;
}