// SB ADMIN
// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #fed136;
$theme-danger:     #e74c3c;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #a2aeb6 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;
$gray2:                     #D8DDE0;
$gray3:                     #a2aeb6;
$gray4:                     #BFBFBF;
$gray5:                     #7F7F7F;
$white:                     #ffffff !default;
$dirty-white:               rgba(250, 250, 250, 0.58);
$black:                     #000000 !default;
$main-color:                #d7a150;
$secondary-color:           #283271;
$pink:                      #F748F3;

// APP
// Body
$body-bg: #f5f8fa; 

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
$font-century-gothic: "CenturyGothic";
$font-century-gothic-bold: "CenturyGothic-Bold";
$font-merriweather-regular: "Merriweather-Regular";

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;