// Styling for custom cards
// Custom class for the background icon in card blocks
.card-block-icon {
    font-size: 5rem;
    position: absolute;
    right: -25px;
    top: -25px;
    @include rotate;
    z-index: 0;
}

// Override breakpoints for card columns to work well with sidebar
.card-columns {
    @include mediamin(576px) {
        column-count: 1;
    }
    @include mediamin(768px) {
        column-count: 2;
    }
    @include mediamin(1200px) {
        column-count: 2;
    }
    .card {
        @include mediamin(576px) {
            width: 210%;
        }
    }
}
