// user list
.users-list {
    table {
        &.table {
            thead {
                th {
                    &:nth-child(3),
                    &:last-child {
                        text-align: center;
                    }
                }
            }
            tbody {
                td {
                    &:nth-child(3),
                    &:last-child {
                        text-align: center;
                    }
                    .nav-link {
                        display: inline;
                    }
                }
            }
        }
    }
}